#forgot_password {
    margin-top: 20px;
}

#forgot_link {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #4A4084;
}

#loginn_button {
    text-decoration: none;
    position: relative;
    top: 0px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: #4A4084;
    padding: 5px 20px 5px 20px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

#login_logo {
    color: rgb(172, 172, 172);
    font-weight: 700;
    font-size: 25px;
    position: relative;
    top:120px;
}