#profile {
    text-align: center;
    background-color: rgba(198, 174, 255, 0.628);
    padding-bottom: 80px;
}

#heading {
    background-color: #4A4084;
    color: white;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    max-width: 100%;
    
}

#myprofile {
    display: flex;
    flex-direction: row;
    align-self: center;

}

#propic {
    width: 150px;
    border-radius: 100px;
    
}

#username {

}

.profile_opt {
    background-color: #705eabc1;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 25px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    position: relative;
    top: 50px;
    
}