#register_head {
    font-size: 30px;
    color: rgb(43, 43, 43);
    font-weight: 400;
    position: relative;
    top: 80px;
    margin-bottom: 80px;
}

#sign_up_button {
    position: relative;
    top: 130px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    background-color: #4A4084;
    padding: 5px 20px 10px 20px;
    font-weight: 700;
    border-radius: 10px;
}

#login_button {
    position: relative;
    top: 220px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    background-color: #4A4084;
    padding: 5px 20px 10px 20px;
    font-weight: 700;
    border-radius: 10px;
}

#login_head {
    font-size: 22px;
    color: rgb(43, 43, 43);
    font-weight: 400;
    position: relative;
    top: 200px;
}

#text_logo {
    color: rgb(172, 172, 172);
    font-weight: 700;
    font-size: 25px;
    position: relative;
    top: 300px;
}